<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <title>中新天津生态城智慧建设</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://dev.arcgisonline.cn/jsapi/4.14/esri/css/main.css">
  <style>
    @font-face {
      font-family: AlibabaPuHuiTi;
      src: url("./fonts/Alibaba-PuHuiTi-Meduim.ttf");
    }
    @font-face {
      font-family: AlibabaPuHuiTi-Regular;
      src: url("./fonts/Alibaba-PuHuiTi-Regular.ttf");
    }
    @font-face {
      font-family: AlibabaPuHuiTi-Bold;
      src: url("./fonts/Alibaba-PuHuiTi-Bold.ttf");
    }
    html,
    body {
      font-family: AlibabaPuHuiTi;
    }
  </style>
</head>

<body>
  <div id="root"></div>
  <script src="./config/dojoConfig.js"></script>
  <script src="./config/config.js"></script>
  <script src="./echarts.themes.js"></script>
  <script src="./config/layers/basemap-layers.js"></script>
  <script>
    var apiRoot = 'https://dev.arcgisonline.cn/jsapi/4.14/init.js';
  </script>
</body>

</html>
